@charset "UTF-8";
/* CSS Document */

h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 3em;
}	

h2{
    font-family: 'Hind', sans-serif;
    font-size: 1.5em;
}

h3{
    font-family: 'Hind', sans-serif;
	font-size: 1.5em;
	
	display: none;
}

/*h4{
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 8pt;
	font-weight: 900;
	color: black;
}*/

p{
	font-family: 'Hind', sans-serif;
	font-size: 12pt;
	font-weight: 100;
	color: black;
}

a{
	color: lightblue;
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(206, 36, 36);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    display: block;
    color: #030303;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(32, 187, 128);
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .active {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
    
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

/*---skip to main---*/
a.skip-main {
	left:-999px;
	position:absolute;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
	z-index:-999;
}

a.skip-main:focus, a.skip-main:active {
	color: #fff;
	background-color:#000;
	left: auto;
	top: auto;
	width: 30%;
	height: auto;
	overflow:auto;
	margin: 10px 35%;
	padding:5px;
	border-radius: 15px;
	border:4px solid yellow;
	text-align:center;
	font-size:1.2em;
	z-index:999;
}


/*.logo{          not using
	grid-area: logo;
	position: fixed;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12pt;
	height: 72px;
	padding-left: 32px;
}

.sidebar{
	grid-area: sidebar;

}

.sidebar-nav{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding-left: 32px;
	
	display: none;

}

.sidebar-nav-item{
	
}*/


/*---header---*/
.header{
	grid-area: header;
}

.header-nav{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	height: 72px;
}

.header-nav-item{
	color:white;
	padding: 16px;
}


/*---footer---*/
.footer{
	grid-area: footer;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 72px;
}

.footer-link{
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 300;
	text-decoration: none;
	color: darkgrey;
	font-size: 8pt;
}

.footer-link:hover{
	color: lightblue;
}

.footer-link:focus{
	color: lightblue;
}

.content{
	grid-area: content;
	grid-template-rows: 16px auto;
	padding-left: 16px;
	padding-right: 16px;
	background-size: 8px;
}

.title{
	grid-row-start: 1;
	display: flex;
	flex-direction: row;
	justify-content: right;
	align-items: center;
	height: 1fr;
}

.project{
	grid-row-start: 2;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.project-item{
	display: grid;
	grid-template-rows: 32px auto;
	
}

.project-item-title{
	grid-row-start: 1;
}

.project-text-left{
	grid-row-start: 2;
	padding-right: 16px;
}

.project-text-right{
	grid-row-start: 2;
	padding-left: 16px;
}

.project-text-left-split{
	grid-row-start: 2;
	padding-right: 16px;
	display: grid;
	grid-template-columns: 40% 60%;
	
}

.project-text-right-split{
	grid-row-start: 2;
	padding-left: 16px;
	display: grid;
	grid-template-columns: 40% 60%;
}

.project-img{
	max-width: 100%
}

.gallery{
	grid-row-start: 2;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto auto;
	justtify-items: center;
	align-items: center;
	grid-gap: 32px;

}

.gallery-item-a{
	grid-column: 1/2;
	grid-row: 1/2;
	max-width: 100%
}

.gallery-item-b{
	grid-column-start: 2/3;
	grid-row: 1/2;
}

.gallery-item-c{
	grid-column-start: 3/4;
	grid-row: 1/2;
}

.gallery-item-d{
	grid-column-start: 1/2;
	grid-row: 2/3;
}

.gallery-item-e{
	grid-column-start: 2/3;
	grid-row: 2/3;
}

.gallery-item-f{
	grid-column-start: 3/4;
	grid-row: 2/3;
}

.gallery-item-g{
	grid-column-start: 1/2;
	grid-row: 3/4;
	max-width: 100%
}

.gallery-item-h{
	grid-column-start: 2/3;
	grid-row: 3/4;
}

.gallery-item-i{
	grid-column-start: 4/4;
	grid-row: 3/4;
}

.gallery-img{
	max-width: 100%
}

.main-grid{
	display: grid;
	grid-template-columns: 216px auto;
	grid-template-rows: 72px auto 72px;
	grid-template-areas: 
		"logo header"
		"sidebar content"
		"sidebar footer"
}